@import "styles/global";
@import "styles/variables.scss";

.addToCartButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 5%;
  max-width: 335px;
  padding: $margin-small-4;
  border-radius: 31px;
  width: 100%;
  left: calc(50% - 335px / 2);
  box-shadow: -1px -1px 3px 0 #ffffff, 2px 2px 4px 0 rgba(47, 47, 47, 0.11),
    inset 0 1px 33px 0 rgba(255, 255, 255, 0.5);
  border: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: bottom 0.2s;

  &.fixed {
    position: fixed;
  }

  &.absolute {
    position: absolute;
  }

  &:hover {
    background-color: darken(rgba(255, 255, 255, 0.8), 5%);
  }
  &:active {
    background-color: darken(rgba(255, 255, 255, 0.8), 10%);
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    i {
      margin-left: 10px;
      font-size: 18.5px;
    }
  }
}
