@import "styles/mixins.scss";

@mixin grayLabelUnderlineButton {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  color: $gray-color-user;
  transition: color 0.15s $ease-in-out;
  padding: $margin-small-3;
  text-decoration: underline;

  &:hover {
    color: lighten($gray-color-user, 30%);
  }

  &:active {
    color: lighten($gray-color-user, 50%);
  }

  @include mobile-media {
    margin-right: 0;
  }
}

.HistoryOrder {
  width: 100%;
  border-radius: var(--card-border-radius-sm);
  border: 1px solid var(--color-separator);

  margin-top: $margin-medium-3;
  @include mobile-media {
    border-radius: 0;
    margin-top: 0;
  }
}

.orderItemsContainer {
  @include mobile-media {
    @include roundedContainerMobile;
    border-radius: 0;
  }
}

.header {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  width: 100%;
  background-color: rgba($gray-color-user, 0.1);
  padding: $margin-small-4 $margin-medium-5;

  .left-container {
    min-width: 160px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .middle-container {
    grid-column: 2 / span 3;
    @include mobile-media {
      justify-content: space-between;
      font-size: 10px;
    }
  }

  .containerStatus {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mobile-media {
      display: flex;
      flex-direction: column;
    }
  }

  .placementDateLabel {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: $gray-color-user;
  }

  .placementDateValue {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }

  .right-container {
    justify-content: space-between;
    @include mobile-media {
      justify-content: flex-end;
    }
  }

  .container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
  }

  .orderHelp {
    @include grayLabelUnderlineButton;
    margin-right: auto;
  }

  .order-number {
    font-weight: var(--font-weight-medium);
    color: $gray-color-user;
  }
}

.content {
  padding: var(--spacing-big)
    calc(var(--spacing-big) + var(--horizontal-spacing-normal));
  @include mobile-media {
    padding: $margin-small-4;
  }

  & + .content {
    border-top: 1px solid var(--color-separator);
    @include mobile-media {
      border-top: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr auto;
  @include mobile-media {
    row-gap: $margin-small-4;
    padding: 0 $margin-small-4 0;
  }

  .container + .container {
    padding-left: var(--spacing-big);
    @include mobile-media {
      padding-left: 0;
    }
  }
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: var(--color-green);
  margin-right: 5px;
  @include mobile-media {
    margin-right: 0;
  }

  &.status_in-transit {
    background-color: var(--color-orange);
  }

  &.status_canceled {
    background-color: var(--text-color-xlight);
  }

  &.status_failed {
    background-color: var(--color-red);
  }
}

.status-text {
  margin-right: 15px;
  @include mobile-media {
    margin-right: 0;
  }
}

.label {
  margin-right: var(--horizontal-spacing-normal);
  @include mobile-media {
    font-size: 10px;
  }
}

.trackPackage {
  @include grayLabelUnderlineButton;
}

.order-details {
  padding-top: 0;
  padding-bottom: 0;
}

.expand-button {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: var(--font-weight-medium);
  color: $gray-color-user;
  cursor: pointer;
  border-radius: 0 0 calc(var(--card-border-radius-sm) - 1px)
    calc(var(--card-border-radius-sm) - 1px);
  transition: background-color 0.1s;

  @include mobile-media {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  i {
    margin-left: 5px;
    transition: transform 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: rgba(var(--primary-color-rgb), 0.05);

    .more-items-info {
      opacity: 0;
    }
  }

  &:active {
    background-color: rgba(var(--primary-color-rgb), 0.07);

    .more-items-info {
      opacity: 0;
    }
  }

  &.expanded i {
    transform: rotateZ(-180deg);
  }

  .more-items-info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0 solid var(--color-separator);
    padding: 0 12px;
    background-color: white;
    font-size: var(--font-size-sm);
    border-top-left-radius: var(--card-border-radius-sm);
    border-top-right-radius: var(--card-border-radius-sm);
    transition: transform 0.1s, background-color 0.1s;

    @include mobile-media {
      position: static;
      background: transparent;
      transform: none;
      order: -1;

      &:after {
        content: ")";
      }

      &:before {
        content: "(";
      }
    }
  }
}

// Animations

@keyframes history-order-content-appear {
  0% {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.content {
  animation: history-order-content-appear 0.1s ease-out 0s 1 backwards;
}
