@import "styles/mixins";
@import "styles/global";

.promoCodeContainer {
  width: 100%;
  font-weight: var(--font-weight-normal);

  .titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .title {
      font-size: var(--font-size-md);
      color: var(--primary-color);
      margin-bottom: 0;
    }

    .promoCodeChevron {
      font-size: 16px;
    }
  }

  .promoCodeInput {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: margin 0.35s $ease-in-out, opacity 0.35s linear,
      max-height 0.35s $ease-in-out;

    &.visible {
      margin-top: 16px;
      max-height: 60px;
      opacity: 1;
    }
  }
}
