@import "styles/variablesscss.scss";

.LogoMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  background-color: #f9f7f5;
  z-index: 1;
  padding: 0 20px;

  h1 {
    font-size: var(--font-size-nm);
  }
}

.logoWrapper {
  display: flex;
  align-items: center;

  .circle {
    width: 20px;
    height: 20px;
  }

  h1 {
    display: none;
  }
}

.back-button {
  font-size: var(--font-size-md);
  text-decoration: none;
  margin-right: 10px;
}

.orderSummaryText {
  font-size: var(--font-size-sm);
  text-decoration: underline;
}
