@import "styles/variablesscss";
@import "styles/mixins";

.headerNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $margin-small-4 0;
}

.header {
  display: flex;
  @include mobile-media {
    flex-direction: column-reverse;
    padding: 0 $margin-small-4;
    padding-bottom: 10px;
  }
}

body,
input,
textarea,
button {
  font-family: "IBM Plex Sans", sans-serif;
}

.alignEnd {
  margin-left: auto;
  @include mobile-media {
    margin-left: 0;
  }
}

.title {
  line-height: 28pt;
  font-size: var(--font-size-title-big);
  font-weight: var(--font-weight-medium);
  color: $primary-color-user;
  @include mobile-media {
    font-size: var(--font-size-xxl);
  }
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: $primary-color-60-user;
  height: $margin-small-4;
  cursor: pointer;
  transition: color 0.1s $ease-in-out;
  text-decoration: none;

  &:not(:last-of-type) {
    margin-right: $margin-medium-5;
    @include mobile-media {
      margin-right: 0;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  &.selected {
    color: $primary-color-user;
  }

  &:hover {
    color: $primary-color-80-user;

    &.selected {
      color: $primary-color-user;
    }
  }
}
