@import "styles/variablesscss";
@import "styles/mixins";

.OrderItemOverlay {
  background-color: white;
  padding: 40px 0;
  max-width: 560px;
  @include mobile-media {
    padding: 0;
  }
}

.x-button {
  padding: 7px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  @include mobile-media {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-right: 70px;
  padding-left: 55px;
  @include mobile-media {
    padding: $margin-small-4;
  }

  .image {
    height: 85px;
    width: 85px;
    margin-right: var(--horizontal-spacing-normal);
    background-color: rgba(var(--primary-color-rgb), 0.1);
    background-image: url("../../../assets/images/Fill.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 970px) {
      height: 60px;
      width: 60px;
      margin-right: var(--horizontal-spacing-half);
      border-radius: var(--card-border-radius-bg);
    }
  }

  .title-price {
    flex: 1;
    padding-top: 5px;
    @include mobile-media {
      font-size: 11px;
    }
  }

  .priceIndicator {
    background: $warm-gray-color;
    border-radius: 20px;
    font-size: var(--font-size-sm);
    padding: $margin-small $margin-small-2;
    @include mobile-media {
      display: none;
    }
  }

  .price {
    margin-left: $margin-small-2;
    @include mobile-media {
      margin-left: 0;
    }
  }
}

.shops {
  margin-top: var(--vertical-spacing-normal);
  @include mobile-media {
    margin-top: 0;
  }
}

.shop {
  position: relative;
  height: 80px;
  padding: 0 80px 0 55px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid var(--color-separator);
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  @include mobile-media {
    @include roundedContainer;
    padding: 0 $margin-small-4;
    font-size: 12px;
  }

  .address {
    margin-top: var(--vertical-spacing-quarter);
  }

  .chevron {
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    font-size: var(--font-size-sm);
    @include mobile-media {
      display: none;
    }
  }

  &:last-of-type {
    border-bottom: 1px solid var(--color-separator);
  }

  &:hover {
    background-color: rgba(var(--primary-color-rgb), 0.05);
  }

  &:active {
    background-color: rgba(var(--primary-color-rgb), 0.1);
  }
}

.bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 40px;
  @include mobile-media {
    @include roundedContainer;
    margin: 0;
    padding: $margin-small-4 0;
  }
}

.add-to-cart-button {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--horizontal-spacing-normal);
  width: 240px;
  margin-top: var(--vertical-spacing-half);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  @include mobile-media {
    justify-content: center;
  }

  &:hover {
    background-color: rgba(var(--primary-color-rgb), 0.05);
  }

  &:active {
    background-color: rgba(var(--primary-color-rgb), 0.1);
  }

  .button-text {
    margin-left: var(--vertical-spacing-quarter);
    font-size: var(--font-size-sm);
    margin-bottom: $margin-small;
  }

  .addCartIcon {
    font-size: var(--font-size-sm);
    margin-bottom: $margin-small;
    @include mobile-media {
      display: none;
    }
  }

  .addCartPrice {
    @include mobile-media {
      display: none;
    }
  }
}
