@import "styles/global";
@import "styles/variables.scss";

.footer {
  background-color: black;
  color: rgba(#fff, 0.8);
  padding: $margin-large-2 $margin-huge-5 0 $margin-large-2;
  display: flex;
  flex-direction: column;
  row-gap: $margin-huge;
  @include mobile-media {
    padding: $margin-small-4 $margin-medium;
    row-gap: $margin-large-2;
  }

  .footerRowInfo {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    @include mobile-media {
      grid-template-columns: 100%;
      row-gap: 13px;

      .infoTextParagraph {
        font-size: 14px;
      }
    }

    .logoFooter {
      height: 60px;
      @include mobile-media {
        height: 45px;
      }

      div {
        @include mobile-media {
          height: 100%;
        }

        svg {
          @include mobile-media {
            height: 100%;
          }

          path {
            fill: white;
          }
        }
      }
    }

    .infoText {
      display: flex;
      flex-display: row;
      align-items: center;

      div {
        font-size: var(--font-size-xl);
      }

      h1 {
        display: none;
      }
    }
  }

  .footerRowLinks {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    align-items: center;
    @include mobile-media {
      grid-template-columns: 1fr;
      row-gap: $margin-large-2;
    }

    .footerLinkColumn {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-lg);

      a {
        font-size: var(--font-size-md);
        padding: 10px 0;
        cursor: pointer;
        color: rgba(#fff, 0.6);
        transition: color 0.5s;

        &:hover {
          color: white;
        }
      }
    }

    .newsLetter {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-md);
      color: rgba(#fff, 0.6);

      .emailText {
        padding-bottom: 15px;
      }

      span {
        color: white;
        font-size: var(--font-size-lg);
      }

      .email {
        display: grid;
        grid-template-columns: 75% 25%;

        input {
          height: 50px;
          background-color: #2a2a2a;
          border-radius: 5px;
          box-shadow: inset 0 -1px 0 0 var(--black);
          margin-right: $margin-small;
          padding: 10px $margin-small-3;
          border: none;
          color: rgba(#fff, 0.6);
          @include mobile-media {
            height: 45px;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .sectionTitle {
    padding-bottom: 10px;
    color: white;
  }

  .footNote {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $margin-small-2;
    @include mobile-media {
      grid-template-columns: 100%;
      row-gap: $margin-small-4;
    }

    .copyRights {
      font-size: var(--font-size-sm);
      color: rgba(#fff, 0.6);
      text-align: center;
      @include mobile-media {
        order: 1;
        text-align: start;
      }
    }

    .socialButtons {
      display: flex;
      align-items: center;
      margin-left: auto;
      @include mobile-media {
        margin-left: 0;
      }

      i {
        padding: 0 $margin-small-2;
        font-size: 25px;
        color: white;
        cursor: pointer;
        @include mobile-media {
          font-size: 30px;
        }
      }
    }
  }

  .copyRights {
    font-size: var(--font-size-sm);
  }

  .footerButton {
    background-color: white;
    border-radius: 5px;
    padding: 0;
    color: black;
    height: 60px;
    max-width: 190px;
    margin-left: auto;
    width: 100%;
    user-select: none;
    @include mobile-media {
      font-size: 14px !important;
      height: 45px;
    }

    &.signUp {
      height: 50px;
      max-width: 105px;
      @include mobile-media {
        height: 45px;
      }
    }

    &:hover {
      background-color: darken(white, 5%);
      box-shadow: 0px 5px 13px #0000004d;
    }

    &:focus {
      box-shadow: 0 3px 7px rgba(#000033, 0.3);
      background-color: darken(white, 5%);
      transition: box-shadow 0.1s, background-color 0.1s;
    }

    &:active {
      box-shadow: 0 1px 3px rgba(#000033, 0.5);
      background-color: darken(white, 10%);
      transition: box-shadow 0.1s, background-color 0.05s;
    }
  }
}
