@import "styles/variablesscss.scss";

.Logo {
  --circle-size: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $checkout-primary-color;

  .circle {
    width: var(--circle-size);
    height: var(--circle-size);
    margin-right: var(--horizontal-spacing-normal);
    flex-shrink: 0;

    svg {
      fill: $checkout-primary-color;
    }
  }

  h1 {
    color: $checkout-primary-color;
  }
}

.back-button {
  display: none;
}
