@import "styles/variables.scss";

.Logo {
  --circle-size: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);

  .circle {
    width: var(--circle-size);
    height: var(--circle-size);
    margin-right: var(--horizontal-spacing-normal);

    svg {
      fill: var(--primary-color);
    }
  }
}

.back-button {
  display: none;
}
