@import "styles/variablesscss.scss";
@import "styles/mixins.scss";

.creditCardArea {
  display: grid;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  grid-template-rows: auto;
  column-gap: var(--horizontal-spacing-half);
  row-gap: var(--horizontal-spacing-half);
  grid-template-columns: 140px auto;
  transition: max-height 0.35s $ease-in-out, margin-top 0.35s $ease-in-out,
    opacity 0.35s $ease-in-out;

  &.visible {
    max-height: 500px;
    opacity: 1;
    margin-top: 16px;
  }

  .cardNumberArea {
    max-height: 500px;
  }

  .inputLabel {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: $checkout-primary-color;
    margin-top: 10px;
  }

  .input {
    --input-height: 40px;
    --input-border-radius: 4px;
    position: relative;
    width: 100%;
    height: var(--input-height);
    padding: 10px 16px;
    border-radius: var(--input-border-radius);
    outline: none;
    border: 1px solid rgba(var(--primary-color-rgb), 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    font-size: var(--font-size-md);
    transition: border-color 0.1s linear, box-shadow 0.1s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;

    &.hasError {
      border-color: red;
    }

    @include mobile-media {
      font-size: var(--font-size-sm);
    }

    &:hover {
      border-color: rgba(var(--primary-color-rgb), 0.4);
    }

    &:focus {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      border-color: rgba(var(--primary-color-rgb), 0.6);
    }
  }

  @include mobile-media {
    grid-template-columns: 1fr;
    row-gap: 0;

    .inputLabel {
      font-size: var(--font-size-xs);
      margin-bottom: 6px;
    }

    .inputRow {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 10px;
    }
  }
}
