@import "styles/global";
@import "styles/variables.scss";

.addressForm {
  display: flex;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  overflow: hidden;
  transition: max-height 0.35s $ease-in-out, opacity 0.35s $ease-in-out,
    margin-top 0.35s $ease-in-out;

  &.visible {
    max-height: 500px;
    opacity: 1;
    margin-top: var(--vertical-spacing-half);
    overflow: visible;

    @include mobile-media {
      margin-top: $margin-small-3;
    }
  }
}

.input {
  margin-bottom: var(--vertical-spacing-half);
}

.inputLine {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  column-gap: var(--horizontal-spacing-normal);
  align-items: center;

  @include mobile-media {
    column-gap: $margin-small-2;
  }
}

.zipCodeDescription {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--primary-color);
  margin-bottom: var(--vertical-spacing-half);

  @include mobile-media {
    column-gap: $margin-small-2;
    font-size: var(--font-size-xs);
  }
}

@media (max-width: $tablet-s) {
  .inputLine {
    column-gap: var(--horizontal-spacing-half);
  }

  .zipCodeDescription {
    font-size: var(--font-size-xs);
    letter-spacing: -0.2px;
  }
}
