@import "styles/mixins";

.UserOrderHistory {
  padding: 62px 100px 162px;

  //@media (max-width: 970px) {
  //  padding: calc(var(--vertical-spacing-normal) * 2)
  //    calc(var(--vertical-spacing-normal) * 2) 50px;
  //}
  @include mobile-media {
    padding: 0;
  }
}

.load-more-button {
  display: block;
  height: 120px;
  width: 120px;
  border: 1px solid var(--primary-color);
  border-radius: 120px;
  font-size: var(--font-size-sm);
  margin: 80px auto 0;
  font-weight: var(--font-weight-medium);
  @include mobile-media {
    height: 40px;
    width: calc(100% - 40px);
    margin: $margin-small-4 auto $margin-medium auto;
  }

  &:hover,
  &:focus {
    background-color: rgba(black, 0.05);
  }

  &:active {
    background-color: rgba(black, 0.1);
  }
}
