@import "styles/mixins";

.UserOrderHistory {
  padding: 0 100px $margin-huge;

  @include mobile-media {
    padding: 0 0 $margin-medium 0;
  }
}

.searchBar {
  margin-bottom: $margin-small-4;
}

.load-more-button {
  @include blackGradientButton;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-large-2;

  @include mobile-media {
    margin-top: $margin-medium;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: rgba(#fbfbfb, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--vertical-spacing-normal);

  .loader {
    font-size: 40px;
  }
}
