.encryptionNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#6156fa, 0.6);
  color: white;
  padding: var(--vertical-spacing-half) var(--horizontal-spacing-normal);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);

  .lockIcon {
    font-size: 16px;
    margin-right: var(--horizontal-spacing-normal);
  }
}
