@import "styles/mixins.scss";
@import "styles/variables";

.PaymentInformation {
  .logo,
  .breadcrumbs {
    margin-bottom: var(--vertical-spacing-normal);
  }

  @include mobile-media {
    padding-top: 0;
    padding-left: $margin-small-4;
    padding-right: $margin-small-4;
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-media {
      flex-flow: column;
    }
  }

  .infoSection {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title changeButton"
      "value value";
    row-gap: 17px;

    @include mobile-media {
      height: auto;
    }

    .changeButton {
      grid-area: changeButton;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: var(--primary-color);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: lightness(
          --primary-color,
          var(--text-button-hover-color-lightness)
        );
      }

      @include mobile-media {
        font-size: var(--font-size-sm);
      }
    }

    .title {
      grid-area: title;
    }

    .value {
      position: relative;
      grid-area: value;
      line-height: 1.43;

      @include mobile-media {
        font-size: var(--font-size-md);
        margin-top: $margin-small-2;
      }
    }
  }

  .paddingContainer {
    padding: var(--vertical-spacing-normal) 0;
    border-bottom: 1px solid var(--color-separator);

    @include mobile-media {
      padding: $margin-small-3 0;
    }
  }

  .radioButton {
    margin-right: var(--horizontal-spacing-normal);

    @include mobile-media {
      margin-right: var(--horizontal-spacing-normal);
    }
  }

  .paymentLogoIcon {
    height: 20px;
    width: auto;
  }

  a {
    color: var(--primary-color);
  }

  .promoCode {
    font-weight: var(--font-weight-medium);
  }

  .existingCardOption {
    margin-bottom: 15px;

    @include mobile-media {
      margin-bottom: var(--vertical-spacing-normal);
    }
  }

  .cardIcon {
    height: 24px;
    margin-right: $margin-small-2;
  }

  .inlineLink {
    margin: 0;
  }

  .paymentSection {
    position: relative;
  }

  .loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    .loader {
      font-size: 40px;
    }
  }

  .optionText {
    margin-top: $margin-small-3;
    margin-left: calc(
      var(--horizontal-spacing-normal) + var(--horizontal-spacing-half)
    );
  }
}
