@import "styles/mixins.scss";
@import "styles/variables";

.PaymentInformation {
  .logo,
  .breadcrumbs {
    margin-bottom: var(--vertical-spacing-normal);
  }

  @include mobile-media {
    padding-top: 0;
    padding-left: $margin-small-4;
    padding-right: $margin-small-4;
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-media {
      flex-flow: column;
    }
  }

  .infoSection {
    display: grid;
    height: 100px;
    align-content: space-between;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title changeButton"
      "value value";

    @include mobile-media {
      height: auto;
    }

    .changeButton {
      grid-area: changeButton;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: var(--primary-color);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: lightness(
          --primary-color,
          var(--text-button-hover-color-lightness)
        );
      }

      @include mobile-media {
        font-size: var(--font-size-sm);
      }
    }

    .title {
      grid-area: title;
      @include mobile-media {
        font-size: var(--font-size-sm);
      }
    }

    .value {
      grid-area: value;

      @include mobile-media {
        font-size: var(--font-size-md);
        margin-top: $margin-small-2;
      }
    }
  }

  .paddingContainer {
    padding: var(--vertical-spacing-normal) 0;
    border-bottom: 1px solid var(--color-separator);

    @include mobile-media {
      padding: $margin-small-3 0;
    }
  }

  .radioButton {
    margin-right: var(--vertical-spacing-normal);

    @include mobile-media {
      margin-right: $margin-small-2;
    }
  }

  .paymentLogoIcon {
    height: 30px;
    width: auto;
  }

  a {
    color: var(--primary-color);
  }

  .promoCode {
    font-weight: var(--font-weight-medium);
  }
}
