.HistoryOrderItem {
  display: grid;
  font-size: var(--font-size-md);
  grid-template-columns: 2fr 3fr 2fr;

  & + .HistoryOrderItem {
    margin-top: calc(var(--vertical-spacing-normal) * 2);
  }
}

.left-container, .middle-container, .right-container {
  overflow: hidden;
}

.middle-container, .right-container {
  padding-left: var(--spacing-big);

  @media (max-width: 970px) {
    padding-left: var(--horizontal-spacing-normal);
  }
}

.left-container {
  display: flex;
  min-width: 160px;

  .brand-model {
    flex: 1;
    height: 100%;
    position: relative;
    padding-top: var(--vertical-spacing-quarter);
  }

  .model {
    margin-top: 15px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);

    @media (max-width: 970px) {
      margin-top: 2px;
    }
  }
}

.image {
  height: 85px;
  width: 85px;
  margin-right: var(--horizontal-spacing-normal);
  border-radius: var(--button-large-radius);
  background-color: rgba(var(--primary-color-rgb), 0.1);
  background-image: url("../../../assets/images/Fill.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 970px) {
    height: 60px;
    width: 60px;
    margin-right: var(--horizontal-spacing-half);
    border-radius: var(--card-border-radius-bg);
  }
}

.middle-container {
  display: flex;
  align-items: center;

  .label {
    flex: 1;
    white-space: nowrap;
    margin-right: var(--horizontal-spacing-half);
  }

  @media (max-width: 800px) {
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
  }
}


.right-container {
  display: flex;
  align-items: center;
  min-width: 190px;
}

.shop-button {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  font-weight: var(--font-weight-medium);
  border-radius: 40px;
  font-size: var(--font-size-lg);

  &:hover, &:focus {
    background-color: rgba(black, 0.05);
  }

  &:active {
    background-color: rgba(black, 0.1);
  }
}
