@import "styles/global";
@import "styles/variablesscss";
.Input {
  --input-height: 40px;
  --input-border-radius: 5px;
  position: relative;

  &.hasError {
    .input {
      border-color: red;
    }
  }

  .input {
    width: 100%;
    height: var(--input-height);
    padding: 10px 16px;
    border-radius: var(--input-border-radius);
    outline: none;
    border: 1px solid rgba(var(--primary-color-rgb), 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    font-size: var(--font-size-md);
    transition: border-color 0.1s linear, box-shadow 0.1s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include mobile-media {
      font-size: var(--font-size-sm);
    }

    &:hover {
      border-color: rgba(var(--primary-color-rgb), 0.4);

      &.userInput {
        border-color: rgba($gray-color-user, 0.4);
      }
    }

    &:focus {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      border: 1px solid rgba($gray-color-user, 0.1);
    }

    &.userInput {
      border-radius: $margin-small;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
      font-family: "IBM Plex Sans", sans-serif;
      border: 1px solid rgba($gray-color-user, 0.1);
      color: $primary-color-user;
      &:focus {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
        border: 1px solid $gray-color-user;
      }
    }
  }

  .actionButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--input-height) - 8px);
    right: 4px;
    top: 4px;
    border-radius: var(--input-border-radius);
    background-color: rgba(var(--primary-color-rgb), 0.3);
    font-size: var(--font-size-md);
    color: #fff;
    padding: 0 16px;
    cursor: pointer;
    transition: background-color 0.1s linear, box-shadow 0.1s linear;

    &::before {
      display: block;
      position: absolute;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      content: "";
    }

    &:hover {
      background-color: rgba(var(--primary-color-rgb), 0.6);
    }

    &:active {
      box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .error {
    top: 100%;
    left: 0;
    font-size: var(--font-size-sm);
    color: red; // TEMP
  }
}
