@import "styles/variablesscss.scss";
@import "styles/mixins";

.searchBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  align-self: center;
  margin-left: var(--horizontal-spacing-normal);
  background-color: white;
  padding: var(--horizontal-spacing-normal);
  box-shadow: inset 0 -1px 0 0 $primary-color-10-user;
  border: solid 1px rgba(#111111, 0.3);

  @include mobile-media {
    order: -1;
    margin-left: 0;
    align-self: start;
    margin-top: 14px;
    width: 100%;
  }

  .searchIcon {
    width: 16px;
    height: 16px;
  }

  .searchInput {
    width: 100%;
    border: none;
    outline: none;
    font-weight: var(--font-weight-normal);
    background-color: transparent;
    margin-left: var(--horizontal-spacing-half);
  }
}

.collectionsSearch {
  background-color: #1b1b1b;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.2);
  color: #fcfaf8;
  width: 500px;

  i {
    color: rgba(#fff, 0.8);
  }

  .searchInput {
    color: rgba(255, 255, 255, 0.8);
  }
}
