@import "styles/variablesscss";
@import "styles/mixins";

.resetPasswordContainer {
  width: 500px;
  margin: auto;
  margin-top: $margin-medium;

  h2 {
    margin-bottom: 30px;
  }

  .inputField {
    margin-top: 5px;
  }

  .title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .createButton {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 15px 14px;
    width: 50%;
    margin-top: 30px;
    user-select: none;

    &:hover {
      background-color: lighten(black, 30%);
    }

    &:active {
      background-color: lighten(black, 50%);
    }
  }
}
