@import "styles/variablesscss";

.UserAccount {
  padding: 62px 100px 162px;
  font-family: "IBM Plex Sans", sans-serif;

  @mixin blackButton {
    height: 40px;
    width: 190px;
    background-color: $primary-color-user;
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    transition: background-color 0.15s $ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten($primary-color-user, 5%);
    }

    &:active {
      background-color: lighten($primary-color-user, 10%);
    }
  }

  @media (max-width: 970px) {
    padding: calc(var(--vertical-spacing-normal) * 2)
      calc(var(--vertical-spacing-normal) * 2) 50px;
  }

  .pageContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    column-gap: $margin-small-4;
    margin-top: $margin-medium-3;
  }

  .section {
    @include roundedContainer;
    padding: $margin-medium-3 $margin-medium-3;

    &.fitContent {
      height: min-content;
    }
  }

  .sectionHeader {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
    color: $primary-color-user;
  }

  .passwordInputLayout {
    margin-top: $margin-medium-2;
  }

  .savePasswordButton {
    @include whiteButton;
    margin-top: $margin-medium-2;
  }

  .userImage {
    width: 86px;
    height: 86px;
    border-radius: 43px;
  }

  .editImageButton {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    margin-left: $margin-small-4;
    cursor: pointer;
    transition: color 0.15s $ease-in-out;

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .subSectionHeader {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    margin-bottom: $margin-small;
  }

  .description {
    @include grayText;
  }

  .linkedAccountsGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    row-gap: $margin-small-4;
    margin-top: $margin-medium;
  }

  .connectAccountButton {
    @include whiteButton;
    width: 137px;
  }

  .connectAccountIcon {
    width: 30px;
    height: 30px;
  }

  .connectAccountText {
    @include grayText;
    font-weight: var(--font-weight-medium);
    margin-left: $margin-small-3;
  }

  .deleteAccountGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    column-gap: $margin-huge;
  }

  .cancelButton {
    margin-left: auto;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    color: $primary-color-user;
    transition: color 0.15s $ease-in-out;
    padding: $margin-small-3;

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .saveChangesButton {
    @include blackButton;
  }

  .uploadInput {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .uploadLabel {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
