@import "styles/variablesscss";
@import "styles/mixins";

.UserAccount {
  max-width: 1458px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px 162px;
  @include mobile-media {
    padding: 0;
  }

  //@media (max-width: 970px) {
  //  padding: calc(var(--vertical-spacing-normal) * 2)
  //    calc(var(--vertical-spacing-normal) * 2) 50px;
  //}

  .pageContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    column-gap: $margin-huge-5;
    margin-top: $margin-medium-3;
    @include mobile-media {
      grid-template-columns: 1fr;
      margin-top: 0;
      border-top: 1px solid var(--color-separator);
      padding-top: $margin-medium-3;
    }
  }

  .section {
    @include mobile-media {
      border: none;
      padding: 0 $margin-medium;
    }

    &.fitContent {
      height: min-content;
    }
  }

  .sectionHeader {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    color: $primary-color-user;

    @include mobile-media {
      font-size: var(--font-size-md);
    }
  }

  .editPhoto {
    display: flex;
    margin-left: auto;
    @include mobile-media {
      margin-left: 0;
      margin-top: $margin-small-4;
    }
  }

  .passwordInputLayout {
    margin-top: $margin-medium-2;
  }

  .savePasswordButton {
    @include whiteButton;
    margin-top: $margin-medium-2;
  }

  .userImageRow {
    display: flex;
    flex-flow: row;
    margin-top: $margin-medium;

    @include mobile-media {
      flex-flow: column;
      margin-top: $margin-small-4;
    }
  }

  .userImage {
    width: 86px;
    height: 86px;
    border-radius: 43px;

    @include mobile-media {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .editImageButton {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    margin-left: $margin-small-4;
    cursor: pointer;
    transition: color 0.15s $ease-in-out;
    @include mobile-media {
      margin-left: 0;
      font-size: var(--font-size-sm);
    }

    & + .editImageButton {
      @include mobile-media {
        margin-left: auto;
      }
    }

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .subSectionHeader {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    margin-bottom: $margin-small;
    color: $primary-color-user;
    @include mobile-media {
      margin-bottom: 10px;
    }
  }

  .description {
    @include grayText;
    @include mobile-media {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-normal);
    }
  }

  .horizontalDividerLinked {
    @include mobile-media {
      margin-top: 10px;
    }
  }

  .linkedAccounts {
    margin-top: $margin-medium;
  }

  .linkedAccountsGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    row-gap: $margin-small-4;
    margin-top: $margin-medium;
  }

  .connectAccountButton {
    @include labelButtonUnderline;
    width: auto;
    padding: 0;
    @include mobile-media {
      width: 100%;
      font-size: var(--font-size-sm);
    }
  }

  .connectAccountIcon {
    width: 30px;
    height: 30px;
  }

  .connectAccountText {
    @include grayText;
    font-weight: var(--font-weight-medium);
    margin-left: $margin-small-3;

    @include mobile-media {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-normal);
    }
  }

  .deleteAccountGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    column-gap: $margin-huge;
    @include mobile-media {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  .formEditButtons {
    margin-top: $margin-medium;
    @include mobile-media {
      justify-content: space-between;
      margin-bottom: $margin-small-4;
    }
  }

  .cancelButton {
    @include grayGradientButton;
    margin-left: auto;
    margin-right: $margin-small-4;
    @include mobile-media {
      margin: 0;
      width: auto;
      flex-grow: 1;
    }
  }

  .saveChangesButton {
    @include blackGradientButton;
    @include mobile-media {
      margin-left: 10px;
      width: auto;
      flex-grow: 1;
    }
  }

  .resetSection {
    border-left: 1px solid $color_user-border;
    padding-left: $margin-huge-5;
    @include mobile-media {
      padding-left: 0;
      padding-right: 0;
      border-left: none;
      margin-top: $margin-medium;
    }
  }

  .profileName {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    color: $primary-color-user;
    margin-left: $margin-small-3;

    @include mobile-media {
      font-size: var(--font-size-md);
    }
  }

  .profileEmail {
    font-size: var(--font-size-md);
    color: $primary-color-user;
    margin-left: $margin-small-3;
  }

  .uploadInput {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .uploadLabel {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .deleteAccountButton {
    @include grayGradientButton;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: rgba(#fbfbfb, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--vertical-spacing-normal);

  .loader {
    font-size: 40px;
  }
}

.errorLabel {
  margin-top: 20px;
}
