@import "styles/variablesscss";
@import "styles/mixins";

.UserAccount {
  padding: 62px 100px 162px;
  @include mobile-media {
    padding: 0;
  }

  //@media (max-width: 970px) {
  //  padding: calc(var(--vertical-spacing-normal) * 2)
  //    calc(var(--vertical-spacing-normal) * 2) 50px;
  //}

  .pageContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    column-gap: $margin-small-4;
    margin-top: $margin-medium-3;
    @include mobile-media {
      grid-template-columns: 1fr;
      margin-top: 0;
      border-top: 1px solid var(--color-separator);
      padding-top: $margin-small-4;
    }
  }

  .section {
    @include roundedContainer;
    padding: $margin-medium-3 $margin-medium-3;
    @include mobile-media {
      border: none;
      padding: 0 $margin-small-4;
    }

    &.fitContent {
      height: min-content;
    }
  }

  .sectionHeader {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
    color: $primary-color-user;
  }

  .editPhoto {
    display: flex;
    @include mobile-media {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: $margin-small-4;
    }
  }

  .passwordInputLayout {
    margin-top: $margin-medium-2;
  }

  .savePasswordButton {
    @include whiteButton;
    margin-top: $margin-medium-2;
  }

  .userImage {
    width: 86px;
    height: 86px;
    border-radius: 43px;
  }

  .editImageButton {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    margin-left: $margin-small-4;
    cursor: pointer;
    transition: color 0.15s $ease-in-out;
    @include mobile-media {
      margin-left: 14px;
    }

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .subSectionHeader {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    margin-bottom: $margin-small;
    @include mobile-media {
      margin-bottom: 10px;
    }
  }

  .description {
    @include grayText;
  }

  .horizontalDividerLinked {
    @include mobile-media {
      margin-top: 10px;
    }
  }

  .linkedAccounts {
    @include mobile-media {
      margin-top: $margin-small-4;
    }
  }

  .linkedAccountsGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    row-gap: $margin-small-4;
    margin-top: $margin-medium;
    @include mobile-media {
      grid-template-columns: 1fr;
      row-gap: 10px;
      margin-top: 10px;
    }
  }

  .linkedAccountOption > i {
    @include mobile-media {
      display: none;
    }
  }

  .connectAccountButton {
    @include whiteButton;
    width: 137px;
    @include mobile-media {
      width: 100%;
    }
  }

  .connectAccountIcon {
    width: 30px;
    height: 30px;
  }

  .connectAccountText {
    @include grayText;
    font-weight: var(--font-weight-medium);
    margin-left: $margin-small-3;
    @include mobile-media {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  .deleteAccountGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    column-gap: $margin-huge;
    @include mobile-media {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  .formEditButtons {
    @include mobile-media {
      justify-content: space-between;
      margin-bottom: $margin-small-4;
    }
  }

  .cancelButton {
    margin-left: auto;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    color: $primary-color-user;
    transition: color 0.15s $ease-in-out;
    padding: $margin-small-3;
    @include mobile-media {
      margin-left: 0;
    }

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .saveChangesButton {
    @include blackButton;
  }

  .resetSection {
    @include mobile-media {
      padding-top: $margin-medium;
      @include roundedContainer;
      border-radius: 0;
    }
  }

  .uploadInput {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .uploadLabel {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: rgba(#fbfbfb, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--vertical-spacing-normal);

  .loader {
    font-size: 40px;
  }
}

.errorLabel {
  margin-top: 20px;
}
