@import "styles/global";
@import "styles/variablesscss.scss";

.yourCollections {
  font-size: var(--font-size-md);
  color: rgba(#615c58, 0.6);
  @include mobile-media {
    padding-left: 10px;
  }

  i {
    margin-left: $margin-small;
    font-size: 11px;
    color: rgba(#615c58, 0.3);
  }

  &:hover {
    color: rgba(#615c58, 0.7);
  }
}

.toDisplay {
  display: block;
}

.emptyCollection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 90px;
  align-items: center;

  div {
    min-height: 400px;
    max-width: 300px;
  }

  .empty {
    color: #615c58;
    font-size: 20px;
    min-height: unset;
    max-width: unset;
  }
}

.loaderContainer {
  width: 100%;
  height: 500px;
  display: grid;
  place-items: center;

  .loader {
    font-size: 40px;
  }
}
