@import "styles/variablesscss";
@import "styles/mixins";

.modalBackground {
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.5);
  z-index: 1001;
  font-family: "Roboto", sans-serif;
}

.modalBox {
  position: relative;
  overflow: auto;
  width: 500px;
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);

  @include mobile-media {
    position: absolute;
    left: $margin-small-4;
    right: $margin-small-4;
    width: auto;
    max-height: 95%;
  }
}

.modalContent {
  padding: 0 $margin-large-2 $margin-medium-4;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  @include mobile-media {
    padding: 0 $margin-small-5 $margin-small-5;
  }
}

.closeButton {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: $margin-small-4 $margin-small-2 10px auto;
  cursor: pointer;
  transition: background-color 0.15s $ease-in-out;
  @include mobile-media {
    display: none;
  }

  i {
    font-size: 21px;
    color: #615c58;

    &:hover {
      color: lighten(#615c58, 30%);
    }

    &:active {
      color: lighten(#615c58, 50%);
    }
  }
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  color: var(--primary-color);
  margin-bottom: 10px;
  @include mobile-media {
    padding-top: $margin-small-5;
  }
}

.inputField {
  width: 100%;
  margin-top: 5px;
  height: var(--input-height);
  padding: 10px 16px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(var(--primary-color-rgb), 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  font-size: var(--font-size-md);
  transition: border-color 0.1s linear, box-shadow 0.1s linear;
  appearance: none;

  &:hover {
    border-color: rgba(var(--primary-color-rgb), 0.4);
  }

  &:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(97, 92, 88, 0.1);
  }
}

span {
  font-size: 14px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 30px;
  margin-top: 30px;
  user-select: none;

  .createButton {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 15px 14px;

    &:hover {
      background-color: lighten(black, 30%);
    }

    &:active {
      background-color: lighten(black, 50%);
    }
  }

  .cancelButton {
    cursor: pointer;
    color: #615c58;

    &:hover {
      color: lighten(#615c58, 30%);
    }

    &:active {
      color: lighten(#615c58, 50%);
    }
  }
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.7);

  .loader {
    font-size: 40px;
  }
}
