@import "styles/variablesscss";
.priceIndicator {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding-left: $margin-small-3;
  padding-right: $margin-small-3;
  height: 30px;
  border-radius: 24px;
  background-color: rgba(#363648, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(black, 0.1);
  font-size: var(--font-size-md);
}

.dollarSign {
  font-weight: var(--font-weight-medium);
  color: #111111;
  margin-left: 2px;
  margin-right: 2px;

  &.disabled {
    color: rgba(#111111, 0.4);
  }
}
