@import "styles/variables.scss";
@import "styles/mixins.scss";
.pageWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.pageContent {
  flex-grow: 1;
  padding: $margin-huge $margin-huge-5 117px $margin-huge-5;
  position: relative;
  @include mobile-media {
    padding: 15px;
  }
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}
