@import "styles/variablesscss.scss";
@import "styles/mixins.scss";

.pageWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.pageContent {
  flex-grow: 1;
  padding: $margin-huge $margin-huge-5 117px $margin-huge-5;
  position: relative;
  @include mobile-media {
    padding: 15px;
  }
}

.pageHeader {
  border-bottom: 1px solid $primary-color-user;
  padding: 2px $margin-huge-5 2px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  color: white;
  background-color: $background-header-color;
  text-decoration: none;
  @include mobile-media {
    display: none;
  }

  h1 {
    color: white;
    font-size: 20px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0 !important;
    svg {
      fill: white !important;
      height: 2.2rem;
    }
  }
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}
