@import "styles/mixins";
@import "styles/global";

.OrderSummary {
  position: relative;
  padding: 80px 140px;
  background-color: #f9f7f5;

  .logoWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    i {
      position: absolute;
      font-size: 21px;
      right: calc(100% + 10px);
    }

    .logo {
      .circle {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      h1 {
        font-size: 24px;
      }
    }
  }

  .title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
    color: $checkout-primary-color;
  }

  .subtitle {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: $checkout-primary-color;
    margin-bottom: 5px;
  }

  .value {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    color: $checkout-primary-color;
  }

  .subtotalWrapper {
    margin-bottom: 30px;

    .label {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: rgba(#615c58, 0.6);
    }

    .value {
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-medium);
      color: $checkout-primary-color;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: 25px 0;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .chevron {
        font-size: 20px;
      }
    }

    .content {
      max-height: 1000px;
      opacity: 1;
      overflow: hidden;
      transition: max-height 0.35s $ease-in-out, opacity 0.35s linear;

      &.collapsed {
        max-height: 0;
        opacity: 0;
      }
    }
  }

  .giftSectionHeader {
    margin-top: 20px;
    margin-bottom: 10px;

    .giftSectionTitle {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-medium);
      color: $checkout-primary-color;
    }
  }

  .giftsContainer {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .orderInfoContainer {
    padding-top: 0;
    border-bottom: 1px solid rgba($checkout-primary-color, 0.1);

    .orderNumber {
      font-size: var(--font-size-xxl);
      font-weight: var(--font-weight-medium);
      color: #615c58;
      margin-bottom: 10px;
    }

    .thanks {
      font-size: var(--font-size-xxl);
      font-weight: var(--font-weight-medium);
      color: $checkout-primary-color;
      margin-bottom: 10px;
    }

    .confirmation {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-normal);
      color: #615c58;
    }
  }

  .shippingInfoContainer {
    border-bottom: 1px solid rgba($checkout-primary-color, 0.1);

    .deliveryInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "deliver-to shipping-address";
      column-gap: 10px;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    .deliverTo {
      grid-area: deliver-to;
    }

    .shippingAddress {
      grid-area: shipping-address;
    }

    .fedexLogo {
      height: 56px;
    }
  }

  .productsContainer {
    border-bottom: 1px solid rgba($checkout-primary-color, 0.1);

    .list {
      padding-top: 25px;
    }
  }

  .paymentInfoContainer {
    .paymentInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "payment-method billing-address";
      column-gap: 10px;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    .paymentMethod {
      grid-area: payment-method;
    }

    .billingAddress {
      grid-area: billing-address;
    }
  }

  .orderSummaryContainer {
    position: relative;
  }

  @include mobile-media {
    padding: 0 $margin-small-4;

    .contentWrapper {
      overflow: hidden;
      max-height: 1000px;
      opacity: 1;
      transition: max-height 0.35s $ease-in-out, opacity 0.3s linear,
        padding 0.35s $ease-in-out;
    }

    .section {
      padding: 16px 0;

      .header {
        .chevron {
          font-size: 16px;
        }
      }
    }

    .title {
      font-size: var(--font-size-lg);
    }

    .subtitle {
      font-size: var(--font-size-md);
    }

    .value {
      font-size: var(--font-size-sm);
    }

    .orderInfoContainer {
      margin-top: 35px;

      .orderNumber {
        font-size: var(--font-size-lg);
        margin-bottom: 0;
      }

      .thanks {
        font-size: var(--font-size-xl);
        margin-bottom: 12px;
      }

      .confirmation {
        font-size: var(--font-size-md);
      }
    }

    .shippingInfoContainer {
      .deliveryInfo {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
          "deliver-to"
          "shipping-address";
        column-gap: 0;
        row-gap: 25px;
      }
    }

    .orderSummaryContainer {
      position: relative;
      padding-bottom: $margin-small-4;
      padding-top: $margin-small-4;
    }

    .paymentInfoContainer {
      border-bottom: 1px solid rgba($checkout-primary-color, 0.1);

      .paymentInfo {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
          "payment-method"
          "billing-address";
        column-gap: 0;
        row-gap: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &.collapsed {
      .contentWrapper {
        max-height: 0;
        opacity: 0;
      }
    }
  }

  .loaderContainer {
    position: absolute;
    top: 0;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: #f9f7f5;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: var(--vertical-spacing-normal);

    .loader {
      font-size: 40px;
    }
  }
}
