@import "styles/mixins";
@import "styles/global";

.OrderSummary {
  padding: 50px 60px;
  background-color: rgba(var(--primary-color-rgb), 0.02);

  .title {
    margin-bottom: var(--vertical-spacing-normal);
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: var(--vertical-spacing-normal) 0;
    border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.1);
  }

  .promoCodeContainer {
    @extend .section;
    .subtitle {
      margin-bottom: var(--vertical-spacing-normal);
    }
  }

  .pricesContainer {
    @extend .section;
    .priceLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--vertical-spacing-normal);

      font-size: var(--font-size-md);
      color: var(--primary-color);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .totalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--vertical-spacing-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
  }

  @include mobile-media {
    padding: 0 $margin-small-4;
    border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.1);

    .title {
      display: none;
    }

    .summaryHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $margin-small-2 0;
      margin-top: $margin-small-2;
      margin-bottom: $margin-small-2;

      .text {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xs);
        color: rgba(var(--primary-color-rgb), 0.6);

        .cartIcon {
          font-size: 16px;
          margin-right: 12px;
        }

        .chevron {
          font-size: 16px;
          margin-left: 12px;
        }
      }

      .total {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-medium);
      }
    }

    .orderSummaryContainer {
      padding-bottom: $margin-small-4;
      overflow: hidden;
      max-height: 1000px;
      opacity: 1;
      transition: max-height 0.35s $ease-in-out, opacity 0.3s linear,
        padding 0.35s $ease-in-out;
    }

    &.collapsed {
      .orderSummaryContainer {
        max-height: 0;
        padding: 0;
        opacity: 0;
      }
    }
  }
}
