@import "styles/mixins.scss";
@import "styles/variables.scss";

html,
body,
#root {
  height: 100%;
}

body,
input,
textarea,
button {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.funnel-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 80px;

  @include mobile-media {
    padding: 40px 0;
  }
}

h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;

  @include mobile-media {
    font-size: var(--font-size-md);
  }
}

h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

.font-size-title {
  font-size: var(--font-size-title);
}

.font-size-xxl {
  font-size: var(--font-size-xxl);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-sm {
  font-size: var(--font-size-sm);
}

.font-size-xs {
  font-size: var(--font-size-xs);
}

.text-color-xlight {
  color: var(--text-color-xlight);
}

.text-color-light {
  color: var(--text-color-light);
}

.text-color-normal {
  color: var(--text-color-normal);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.button {
  height: var(--button-medium-height);
  border-radius: var(--button-medium-radius);
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  color: var(--button-color);
  font-size: var(--button-medium-font-size);
  font-weight: var(--button-font-weight);
  padding: 10px 80px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.05s linear, border-color 0.05s linear;

  &.large {
    height: var(--button-large-height);
    border-radius: var(--button-large-radius);
    font-size: var(--button-large-font-size);
    padding: 16px 45px;

    @include mobile-media {
      height: var(--button-large-height-mobile);
      border-radius: var(--button-large-radius-mobile);
      font-size: var(--button-large-font-size-mobile);
      width: 100%;
    }
  }

  &:hover {
    background-color: lightness(
      --primary-color,
      var(--button-hover-background-color-lightness)
    );
  }

  &:active {
    background-color: lightness(
      --primary-color,
      var(--button-active-background-color-lightness)
    );
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-color);
  }
}

button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  outline: none;
}

.link-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  transition: color 0.05s linear;

  @include mobile-media {
    font-size: var(--font-size-md);
  }

  &:hover {
    color: lightness(--primary-color, var(--text-button-hover-color-lightness));
  }

  i {
    font-size: 17px; // For FontAwesome icons, the font-size is sort-of equivalent to their height
    margin-right: 12px;
  }
}

.row {
  display: flex;
  flex-flow: row;

  &.center-vertically {
    align-items: center;
  }

  &.bottom-vertically {
    align-items: baseline;
  }
}

.clickable {
  cursor: pointer;
}

.big-text {
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
  @include mobile-media {
    font-size: var(--font-size-sm);
  }
}

.normal-text {
  font-size: var(--font-size-md);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
}

.small-text {
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
}

.x-small-text {
  font-size: var(--font-size-xs);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
}

.margin-top {
  margin-top: var(--vertical-spacing-normal);
}

.margin-top-half {
  margin-top: var(--vertical-spacing-half);
}

.margin-bottom {
  margin-bottom: var(--vertical-spacing-normal);
}

.margin-bottom-half {
  margin-bottom: var(--vertical-spacing-half);
}

.margin-top-big {
  margin-top: var(--spacing-big);
  @include mobile-media {
    margin-top: $margin-small-5;
  }
}

.horizontal-divider {
  border-top: 1px solid var(--color-separator);
  width: 100%;
}

$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
