@import "styles/mixins.scss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.funnel-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 80px;
}

h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
  margin: 0;
}

.button {
  height: var(--button-medium-height);
  border-radius: var(--button-medium-radius);
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  color: var(--button-color);
  font-size: var(--button-medium-font-size);
  font-weight: var(--button-font-weight);
  padding: 10px 80px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.05s linear, border-color 0.05s linear;

  &.large {
    height: var(--button-large-height);
    border-radius: var(--button-large-radius);
    font-size: var(--button-large-font-size);
    padding: 16px 45px;
  }

  &:hover {
    background-color: lightness(
      --primary-color,
      var(--button-hover-background-color-lightness)
    );
  }

  &:active {
    background-color: lightness(
      --primary-color,
      var(--button-active-background-color-lightness)
    );
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-color);
  }
}

.link-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  transition: color 0.05s linear;

  &:hover {
    color: lightness(--primary-color, var(--text-button-hover-color-lightness));
  }

  i {
    font-size: 17px; // For FontAwesome icons, the font-size is sort-of equivalent to their height
    margin-right: 12px;
  }
}

.row {
  display: flex;
  flex-flow: row;

  &.center-vertically {
    align-items: center;
  }
}

.big-text {
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
}

.normal-text {
  font-size: var(--font-size-md);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
}

.small-text {
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
}

.margin-top {
  margin-top: var(--vertical-spacing-normal);
}

.margin-top-big {
  margin-top: var(--spacing-big);
}

.horizontal-divider {
  border-top: 1px solid var(--color-separator);
  width: 100%;
}

$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
