:root {
  // Colors
  --primary-color: #363648;
  --primary-color-rgb: 54, 54, 72; // Those are needed if we need to use rgba(var(--primary-color-rgb), 0.2)
  

  // Font sizes
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-title: 36px;

  // Font weights
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: bold;
}
