$mobile-width: 970px;

$primary-color-user: #2f2f2f;
$primary-color-10-user: rgba($primary-color-user, 0.1);
$primary-color-60-user: rgba($primary-color-user, 0.6);
$primary-color-80-user: rgba($primary-color-user, 0.8);

$margin-small: 5px;
$margin-small-2: 8px;
$margin-small-3: 16px;
$margin-small-4: 20px;
$margin-small-5: 25px;
$margin-medium: 30px;
$margin-medium-2: 35px;
$margin-medium-3: 40px;
$margin-medium-4: 45px;
$margin-medium-5: 50px;
$margin-large: 55px;
$margin-large-2: 60px;
$margin-large-3: 65px;
$margin-large-4: 70px;
$margin-large-5: 75px;
$margin-huge: 80px;
$margin-huge-2: 85px;
$margin-huge-3: 90px;
$margin-huge-4: 95px;
$margin-huge-5: 100px;

//  Screen Sizes
$desktop: 1920px;
$laptop: 1440px;
$tablet-l: 1280px;
$tablet: 1024px;
$tablet-s: 768px;
$mobile-l: 500px;
$mobile: 375px;
$mobile-s: 325px;
