$mobile-width: 970px;

$primary-color-user: #2f2f2f;
$primary-color-10-user: rgba($primary-color-user, 0.1);
$primary-color-60-user: rgba($primary-color-user, 0.6);
$primary-color-80-user: rgba($primary-color-user, 0.8);

$brown-color: #745a32;
$red-color: #d8232a;
$red-color-warning-background: #ffecea;
$red-color-warning-border: #feb9b1;

$blue-color: #4b8bf5;
$blue-button-color: #36364a;
$warm-gray-color: #d5d4d2;
$color-user-border: #e3e2e2;

$margin-small: 5px;
$margin-small-2: 8px;
$margin-small-3: 16px;
$margin-small-4: 20px;
$margin-small-5: 25px;
$margin-medium: 30px;
$margin-medium-2: 35px;
$margin-medium-3: 40px;
$margin-medium-4: 45px;
$margin-medium-5: 50px;
$margin-large: 55px;
$margin-large-2: 60px;
$margin-large-3: 65px;
$margin-large-4: 70px;
$margin-large-5: 75px;
$margin-huge: 80px;
$margin-huge-2: 85px;
$margin-huge-3: 90px;
$margin-huge-4: 95px;
$margin-huge-5: 100px;

//  Screen Sizes
$desktop: 1920px;
$laptop: 1440px;
$tablet-l: 1280px;
$tablet: 1024px;
$tablet-s: 768px;
$mobile-l: 500px;
$mobile: 375px;
$mobile-s: 325px;

$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

@mixin whiteButton {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  transition: background-color 0.15s $ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(black, 0.05);
  }

  &:active {
    background-color: rgba(black, 0.1);
  }
}

@mixin blackButton {
  height: 40px;
  width: 190px;
  background-color: $primary-color-user;
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  transition: background-color 0.15s $ease-in-out;

  &:hover,
  &:focus {
    background-color: lighten($primary-color-user, 5%);
  }

  &:active {
    background-color: lighten($primary-color-user, 10%);
  }
}

@mixin labelButton {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  color: $primary-color-user;
  transition: color 0.15s $ease-in-out;
  padding: $margin-small-3;

  &:hover {
    color: lighten($primary-color-user, 30%);
  }

  &:active {
    color: lighten($primary-color-user, 50%);
  }
}

@mixin blueLabelButton {
  @include labelButton;
  color: $blue-color;
  padding: 0;

  &:hover {
    color: lighten($blue-color, 10%);
  }

  &:active {
    color: lighten($blue-color, 20%);
  }
}

@mixin grayText {
  color: $primary-color-60-user;
  font-size: var(--font-size-md);
}

@mixin roundedContainer {
  border: 1px solid $color-user-border;
  border-radius: 8px;
}
