@import "styles/variablesscss";
@import "styles/mixins";
//@import "styles/global";

.UserBilling {
  max-width: 1458px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px 162px;

  @mixin normalText {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: $primary-color-user;
  }

  @media (max-width: 970px) {
    padding: calc(var(--vertical-spacing-normal) * 2)
      calc(var(--vertical-spacing-normal) * 2) 50px;
  }
  @include mobile-media {
    padding: 0;
  }

  .pageContent {
    margin-top: $margin-medium-3;
    @include mobile-media {
      padding: 0 $margin-medium $margin-small-4 $margin-medium;
      border-top: 1px solid $color-user-border;
      margin-top: 0;
    }
  }

  div.paymentCell {
    @include roundedContainer;
    @include mobile-media {
      border-top: 1px solid $color-user-border;
      border-radius: 0;
      border-left: none;
      border-right: none;
      border-top: none;
    }
    height: auto;
    width: 100%;

    & + .paymentCell {
      margin-top: $margin-small-4;

      @include mobile-media {
        margin-top: 0;
      }
    }
  }

  .paymentRow {
    display: grid;
    height: 100px;
    grid-template-columns: 64px 250px 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    padding: 0 $margin-medium;
    @include mobile-media {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }

    .creditCardDetails {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      padding: $margin-small-4 $margin-small-2;
      img {
        margin-right: $margin-medium;
        @include mobile-media {
          margin-right: $margin-small;
        }
      }
    }

    .creditCardEdit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 14px;
    }

    .creditCardNumber {
      margin-left: 0;
      text-align: center;
    }
  }

  .makeDefault {
    @include normalText;
    margin-right: $margin-small-4;
    cursor: pointer;
    transition: color 0.15s $ease-in-out;

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .defaultPayment {
    @include roundGrayLabel;
    margin-left: $margin-small-4;
  }

  .editButton {
    @include whiteButton;
    padding: 0 $margin-small-3;
    width: auto;
    font-weight: var(--font-weight-medium);
    transition: border-color 0.2s $ease-in-out background-color 0.15s
      $ease-in-out;

    @include mobile-media {
      margin-left: auto;
    }

    &.editMode {
      background-color: rgba($primary-color-user, 0.3);
      border-color: transparent;
    }
  }

  .chevron {
    transition: transform 0.2s $ease-in-out;
    margin-left: $margin-small-2;

    &.chevronUp {
      transform: rotate(180deg);
    }

    &.chevronDown {
    }
  }

  .creditCardIcon {
    width: 64px;
    height: 42px;
  }

  .creditCardNumber {
    margin-left: $margin-medium;
    @include normalText;
  }

  .fullName {
    display: flex;
    flex-flow: row;
    align-items: center;
    @include normalText;
  }

  .addCreditCardContainer {
    margin-top: $margin-small-4;
    @include roundedContainer;
    @include mobile-media {
      border: none;
      margin-top: $margin-medium;
    }
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: rgba(#fbfbfb, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--vertical-spacing-normal);

  .loader {
    font-size: 40px;
  }
}
