@import "styles/variablesscss";
@import "styles/mixins";
@import "styles/global";
@import "styles/variables.scss";

.UserBilling {
  padding: 62px 100px 162px;

  @mixin normalText {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: $primary-color-user;
  }

  @media (max-width: 970px) {
    padding: calc(var(--vertical-spacing-normal) * 2)
      calc(var(--vertical-spacing-normal) * 2) 50px;
  }
  @include mobile-media {
    padding: 0;
  }

  .pageContent {
    margin-top: $margin-medium-3;
    @include mobile-media {
      padding: 0 $margin-small-4;
      border-top: 1px solid $color-user-border;
      margin-top: 0;
    }
  }

  div.paymentCell {
    @include roundedContainer;
    @include mobile-media {
      border-top: 1px solid $color-user-border;
      border-radius: 0;
      border-left: none;
      border-right: none;
      border-top: none;
    }
    height: auto;
    width: 100%;

    & + .paymentCell {
      margin-top: $margin-small-4;

      @include mobile-media {
        margin-top: 0;
      }
    }
  }

  .paymentRow {
    display: grid;
    height: 100px;
    grid-template-columns: 64px 250px 1fr auto auto;
    grid-template-rows: auto;
    align-items: center;
    padding: 0 $margin-medium;

    &.isMobile {
      display: none;
      @include mobile-media {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        height: auto;
      }
    }

    &.isDesktop {
      @include mobile-media {
        display: none;
      }
    }

    .creditCardDetails {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;

      img {
        margin-right: $margin-medium;
      }
    }

    .creditCardEdit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 14px;
    }

    .creditCardInfo {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;

      div:first-child {
        margin-bottom: 14px;
      }

      div {
        font-size: 12px;
      }

      .creditCardNumber {
        margin-left: 0;
      }
    }
  }

  .makeDefault {
    @include normalText;
    margin-right: $margin-small-4;
    cursor: pointer;
    transition: color 0.15s $ease-in-out;

    &:hover {
      color: lighten($primary-color-user, 30%);
    }

    &:active {
      color: lighten($primary-color-user, 50%);
    }
  }

  .defaultPayment {
    margin-right: $margin-small-4;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    letter-spacing: 1px;
    color: $brown-color;
  }

  .editButton {
    @include whiteButton;
    padding: 0 $margin-small-3;
    width: auto;
    font-weight: var(--font-weight-medium);
    transition: border-color 0.2s $ease-in-out background-color 0.15s
      $ease-in-out;

    &.editMode {
      background-color: rgba($primary-color-user, 0.3);
      border-color: transparent;
    }
  }

  .chevron {
    transition: transform 0.2s $ease-in-out;
    margin-left: $margin-small-2;

    &.chevronUp {
      transform: rotate(180deg);
    }

    &.chevronDown {
    }
  }

  .creditCardIcon {
    width: 64px;
    height: 42px;
  }

  .creditCardNumber {
    margin-left: $margin-medium;
    @include normalText;
  }

  .fullName {
    @include normalText;
  }

  .addCreditCardContainer {
    margin-top: $margin-small-4;
    @include roundedContainer;
    @include mobile-media {
      border: none;
    }
    @include mobile-media {
      margin-top: $margin-medium;
    }
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
