@import "styles/variablesscss";
@import "styles/mixins";

.modalBackground {
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.5);
  z-index: 1001;
  font-family: "Roboto", sans-serif;
}

.modalBox {
  position: relative;
  overflow: auto;
  width: 500px;
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);

  @include mobile-media {
    position: absolute;
    left: $margin-small-4;
    right: $margin-small-4;
    width: auto;
    max-height: 95%;
  }
}

.modalContent {
  padding: 0 $margin-large-2 $margin-medium-4;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  @include mobile-media {
    padding: 0 $margin-small-5 $margin-small-5;
  }
}

.closeButton {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: $margin-small-4 $margin-small-2 10px auto;
  cursor: pointer;
  transition: background-color 0.15s $ease-in-out;
  @include mobile-media {
    display: none;
  }

  i {
    font-size: 21px;
    color: #615c58;

    &:hover {
      color: lighten(#615c58, 30%);
    }

    &:active {
      color: lighten(#615c58, 50%);
    }
  }
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  color: var(--primary-color);
  margin-bottom: 10px;
  @include mobile-media {
    padding-top: $margin-small-5;
  }
}

.subTitle {
  color: black;
  font-size: var(--font-size-md);
  text-align: center;
  margin-bottom: 10px;

  &.makePrivate {
    margin-top: $margin-medium;
    text-align: start;
    @include mobile-media {
      margin-top: $margin-small-4;
    }

    i {
      cursor: pointer;
      margin-right: 10px;
      font-size: 21px;
      color: #363648;
      @include mobile-media {
        display: none;
      }
    }
  }
}

.inputField {
  width: 85%;
  @include mobile-media {
    width: 100%;
  }
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;

  .inputField {
    width: 100%;
    pointer-events: none;
  }

  .copyButton {
    position: absolute;
    right: 1.5%;
    top: 13%;
    background-color: rgba(black, 0.8);
    border-radius: 20px;
    padding: 6px 24px;
    color: white;
    height: var(--input-height);
    width: 20%;
    font-size: var(--font-size-md);
    text-align: center;
    cursor: pointer;
    @include mobile-media {
      width: 100px;
    }

    &:hover {
      background-color: lighten(black, 30%);
    }

    &:active {
      background-color: lighten(black, 50%);
    }
  }
}

span {
  font-size: var(--font-size-md);
}

.sendInviteButton {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 27px;
  border-radius: 24px;
  border: solid 1px #111111;
  font-size: var(--font-size-md);
  margin: $margin-small-4 0 10px 0;
  user-select: none;
  @include mobile-media {
    margin-top: 10px;
  }

  &:hover {
    background-color: darken(white, 10%);
  }

  &:active {
    background-color: darken(white, 20%);
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: $margin-medium;
  margin-top: $margin-medium;
  @include mobile-media {
    margin-top: 10px;
  }

  .createButton {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 15px 14px;

    &:hover {
      background-color: lighten(black, 30%);
    }

    &:active {
      background-color: lighten(black, 50%);
    }
  }

  .cancelButton {
    cursor: pointer;
    color: #615c58;

    &:hover {
      color: lighten(#615c58, 30%);
    }

    &:active {
      color: lighten(#615c58, 50%);
    }
  }
}

.fileUploadLabel {
  cursor: pointer;
  color: #615c58;
  font-size: var(--font-size-sm);
  padding: 10px;
  background-color: rgba(white, 0.2);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: darken(white, 10%);
  }

  &:active {
    background-color: darken(white, 20%);
  }
}

.collaborators {
  margin-bottom: 10px;
  width: 100%;

  .collaboratorsContainer {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-top: $margin-small-4;
    width: 100%;
    align-items: center;
    @include mobile-media {
      flex-direction: column;
      align-items: flex-start;
      margin-top: $margin-medium;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      object-fit: cover;
    }

    div {
      display: flex;
      flex-direction: column;
      row-gap: 3px;

      .collaboratorName {
        color: #615c58;
      }

      .collaboratorEmail {
        color: rgba(#615c58, 0.6);
      }
    }

    .collaboratorsInfo {
      display: flex;
      flex-direction: row;
      column-gap: 15px;
      @include mobile-media {
        align-items: center;
        div {
          margin-top: -25px;
        }
      }
    }

    .checkboxContainer {
      margin-left: auto;
      @include mobile-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: $margin-large;
        column-gap: 15px;
        margin-top: -8px;
      }

      .checkBoxModal {
        background-color: black;
        border-radius: 100%;
        margin-left: auto;
      }

      .unChecked {
        background-color: white;
      }
    }
  }
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.7);

  .loader {
    font-size: 40px;
  }
}
