@import "styles/variablesscss.scss";
@import "styles/mixins.scss";

.OrderConfirmation {
  position: relative;

  @include mobile-media {
    padding: 20px;
    background-color: #f9f7f5;
  }

  .title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-medium);
    color: $checkout-primary-color;
    margin-bottom: 15px;

    @include mobile-media {
      font-size: var(--font-size-lg);
    }
  }

  .totalsContainer {
    border-top: 1px solid rgba($gray-color-user, 0.1);
    margin-bottom: var(--vertical-spacing-normal);

    .totalLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid rgba($gray-color-user, 0.1);

      .label,
      .value {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        color: $gray-color-user;
      }

      .promoCode {
        color: $gray-color-user;
      }
    }

    .grandTotalLine {
      @extend .totalLine;
      height: 60px;
      border-bottom: 0;

      .label,
      .value {
        font-size: var(--font-size-xl);
        color: $checkout-primary-color;
      }
    }
  }

  .buttonsContainer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;

    .goToAccount {
      @include grayGradientButton;
      width: 100%;
      height: 60px;
      font-size: var(--font-size-lg);
    }

    .backToShop {
      @include blackGradientButton;
      width: 100%;
      height: 60px;
      font-size: var(--font-size-lg);
    }
  }

  .loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.8);
    z-index: 2000;

    .loader {
      font-size: 80px;
    }
  }
}
