.Breadcrumbs {
  --arrow-spacing: 12px;

  display: flex;
  align-items: center;

  .stepContainer {
    display: flex;
    align-items: center;

    .link {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: rgba(var(--primary-color-rgb), 0.6);
      text-decoration: none;
      transition: color 0.1s linear;

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        color: var(--primary-color);
      }
    }

    .arrow {
      margin: 0 var(--arrow-spacing);
      color: rgba(var(--primary-color-rgb), 0.1);
      font-size: 12px;
    }
  }
}
