@import "styles/mixins.scss";

.Breadcrumbs {
  --arrow-spacing: 12px;
  --arrow-spacing-mobile: 8px;

  display: flex;
  align-items: center;

  .stepContainer {
    display: flex;
    align-items: center;

    .link {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: rgba(var(--primary-color-rgb), 0.6);
      text-decoration: none;
      transition: color 0.1s linear;
      outline: none;
      margin-right: 0;

      @include mobile-media {
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-xs);
      }

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        color: var(--primary-color);

        @include mobile-media {
          font-weight: var(--font-weight-medium);
        }
      }

      &.disabled {
        pointer-events: none;
        user-select: none;
      }
    }

    .arrow {
      margin: 0 var(--arrow-spacing);
      color: rgba(var(--primary-color-rgb), 0.1);
      font-size: 12px;

      @include mobile-media {
        margin: 0 var(--arrow-spacing-mobile);
      }
    }
  }
}
