.Cart {
  .logo,
  .breadcrumbs {
    margin-bottom: var(--vertical-spacing-normal);
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .debugInputContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    row-gap: 10px;
    padding: 20px 0;
  }

  .debugInlineContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .debugRadioButton {
    margin-right: 10px;
  }

  .debugCheckbox {
    margin-right: 10px;
  }
  pre {
    max-width: 50vw;
    overflow-x: scroll;
  }
}
