@import "styles/variablesscss";
@import "styles/mixins";
.passwordInputLayout {
  margin-top: $margin-medium-2;
  @include mobile-media {
    margin-top: 10px;
  }
}
.resetPasswordSection {
  @include mobile-media {
    margin-top: $margin-small-4;
  }
}
.inputHint {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  margin-bottom: $margin-small;
}

.savePasswordButton {
  @include whiteButton;
  margin-top: $margin-medium-2;
  @include mobile-media {
    margin: $margin-medium 0;
  }
}
