@import "styles/variablesscss";

.passwordInputLayout {
  margin-top: $margin-medium-2;
}

.inputHint {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  margin-bottom: $margin-small;
}

.savePasswordButton {
  @include whiteButton;
  margin-top: $margin-medium-2;
}
