@import "styles/variablesscss";
@import "styles/mixins";
.passwordInputLayout {
  margin-top: $margin-medium-2;
  @include mobile-media {
    margin-top: 10px;
  }
}
.resetPasswordSection {
  @include mobile-media {
    margin-top: $margin-small-4;
  }
}
.inputHint {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  margin-bottom: $margin-small;
  color: $primary-color-user;
  @include mobile-media {
    font-size: var(--font-size-sm);
  }
}

.savePasswordButton {
  @include blackGradientButton;
  width: 100%;
  margin-top: $margin-medium-2;
  border-radius: 5px;

  &.disabled {
    background-image: none;
    background-color: transparent;
    border: 1px solid $color-user-border;
    color: $color-user-border;
    box-shadow: none;
    pointer-events: none;
  }
  @include mobile-media {
    margin-top: $margin-medium;
  }
}
