@import "styles/variablesscss";

.modalBackground {
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.5);
  z-index: 1001;
  font-family: "Roboto", sans-serif;
}

.modalBox {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: auto;
  background: white;
  border-radius: 4px;
}

.modalContent {
  padding: 0 $margin-large-2 $margin-medium-4;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.closeButton {
  background: url("/assets/images/close_icon.svg") no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-left: auto;
  margin-top: $margin-small-2;
  margin-right: $margin-small-2;
  cursor: pointer;
  transition: background-color 0.15s $ease-in-out;

  &:hover {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("/assets/images/close_icon.svg");
  }

  &:active {
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/assets/images/close_icon.svg");
  }
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  color: var(--primary-color);
  align-self: center;
  margin-bottom: $margin-small-3;
}

.subtitle {
  color: var(--text-color-slight);
  font-size: var(--font-size-md);
  text-align: center;
}

.userAvatar {
  width: 60px;
  height: 60px;
  background: url("/assets/images/user_avatar.svg") no-repeat;
  margin-top: $margin-small-5;
}

.userName {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  color: var(--primary-color);
  margin-top: $margin-small-2;
}

.userEmail {
  color: var(--text-color-slight);
  font-size: var(--font-size-md);
}

.inputField {
  width: 100%;
  margin-top: $margin-small-4;
}

.signInButton {
  @include blackButton;
  width: 100%;
  margin-top: $margin-small-3;
  background-color: $blue-button-color;

  &:hover,
  &:focus {
    background-color: lighten($blue-button-color, 5%);
  }

  &:active {
    background-color: lighten($blue-button-color, 10%);
  }
}

.forgotPassword {
  @include blueLabelButton;
  margin-top: $margin-small-3;
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.7);

  .loader {
    font-size: 40px;
  }
}

.loginAlert {
  position: relative;
  width: 100%;
  background-color: $red-color-warning-background;
  border: 1px solid $red-color-warning-border;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: $margin-small-2;
  color: $red-color;
  padding: $margin-small-2 $margin-small-5;
  margin-top: $margin-small-3;
  font-size: var(--font-size-md);

  .errorIcon {
    width: 16px;
    height: 16px;
    color: $red-color;
    position: absolute;
    left: $margin-small-2;
  }
}
