@import "styles/mixins";
@import "styles/variablesscss";

.CartItem {
  --image-size: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  .itemInfo {
    display: flex;
    height: var(--image-size);

    .image {
      width: var(--image-size);
      height: var(--image-size);
      margin-right: 20px;
      box-sizing: content-box;
      object-fit: cover;
      border: 1px solid rgba($checkout-primary-color, 0.1);
      border-radius: 5px;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 99;
      background: white;

      .info {
        display: flex;
        flex-direction: column;

        .lightText {
          font-size: var(--font-size-md);
          color: #615c58;
          line-height: 20px;
        }

        .boldText {
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-medium);
          color: $checkout-primary-color;
          line-height: 24px;
        }
      }
    }
  }

  .priceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    padding-top: 18px;

    .price {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: $checkout-primary-color;
    }
  }

  .quantity {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    place-items: center;
    column-gap: 10px;
    font-weight: var(--font-weight-normal);
    color: #615c58;

    .quantityButton {
      display: grid;
      place-items: center;
      padding-bottom: 3px;
      font-size: 24px;
      line-height: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba($checkout-primary-color, 0.1);
      background-color: #fff;
      cursor: pointer;
      transition: background-color 0.1s linear;
      user-select: none;

      &:hover {
        background-color: rgba($checkout-primary-color, 0.1);
      }
    }
  }

  @include mobile-media {
    --image-size: 80px;
    padding: 10px 0;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    .itemInfo {
      .image {
        margin-right: 20px;
      }

      .infoContainer {
        .lightText {
          font-size: var(--font-size-xs);
        }

        .boldText {
          font-size: var(--font-size-sm);
        }
      }
    }

    .priceContainer {
      .price,
      .quantity {
        color: var(--primary-color);
        font-weight: var(--font-weight-normal);
      }

      .price {
        font-size: var(--font-size-sm);
      }

      .quantity {
        font-size: var(--font-size-xs);
      }
    }
  }
}
