@import "styles/mixins";

.CartItem {
  --image-size: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--vertical-spacing-normal) 0;
  border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.1);

  .itemInfo {
    display: flex;

    .image {
      width: var(--image-size);
      height: var(--image-size);
      margin-right: 16px;
      object-fit: contain;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;

      .lightText {
        font-size: var(--font-size-sm);
        color: rgba(var(--primary-color-rgb), 0.6);
        line-height: 1.33;
      }

      .boldText {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        color: var(--primary-color);
        line-height: 1.43;
      }
    }
  }

  .priceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;

    .price {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: rgba(var(--primary-color-rgb), 0.6);
    }

    .quantity {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: rgba(var(--primary-color-rgb), 0.6);
    }
  }

  @include mobile-media {
    --image-size: 60px;
    padding: 10px 0;

    .itemInfo {
      .image {
        margin-right: 10px;
      }

      .infoContainer {
        .lightText {
          font-size: var(--font-size-xs);
        }

        .boldText {
          font-size: var(--font-size-sm);
        }
      }
    }

    .priceContainer {
      .price,
      .quantity {
        color: var(--primary-color);
        font-weight: var(--font-weight-normal);
      }

      .price {
        font-size: var(--font-size-sm);
      }

      .quantity {
        font-size: var(--font-size-xs);
      }
    }
  }
}
