.addressInputWrapper {
  --input-border-radius: 24px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.05));
  z-index: 1;

  position: relative;

  .input {
    input {
      // This will be replaced by the filter on the wrapper
      box-shadow: none !important;
    }
  }

  .hasSuggestions {
    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .suggestions {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;

    .suggestion {
      background-color: #fff;
      padding: 10px 16px;
      font-size: var(--font-size-md);
      border: 1px solid rgba(var(--primary-color-rgb), 0.5);
      border-top: 0;
      transition: background-color 0.1s linear;
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: #f5f5f6;
      }

      &:last-of-type {
        border-bottom-left-radius: var(--input-border-radius);
        border-bottom-right-radius: var(--input-border-radius);
      }
    }
  }
}
