@import "styles/global";
@import "styles/variablesscss.scss";

.collaborators {
  display: flex;
  align-items: center;

  &.small {
    img,
    .numberToShow,
    .userInitials {
      height: 25px;
      width: 25px;
      font-size: 12px;
    }
    i {
      display: none;
    }
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    object-fit: cover;
    margin-left: -5px;
  }

  .userInitials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-left: -5px;
    background-color: rgba(204, 183, 158, 0.2);
  }

  .numberToShow {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    border-radius: 24px;
    background-color: rgba(#615c58, 0.1);
  }
}
