.PaymentInformation {
  .logo,
  .breadcrumbs {
    margin-bottom: var(--vertical-spacing-normal);
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
