@import "styles/mixins.scss";

.PaymentInformation {
  .logo,
  .breadcrumbs {
    margin-bottom: var(--vertical-spacing-normal);
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .infoSection {
    display: grid;
    height: 100px;
    align-content: space-between;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title changeButton"
      "value value";

    .changeButton {
      grid-area: changeButton;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: var(--primary-color);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: lightness(
          --primary-color,
          var(--text-button-hover-color-lightness)
        );
      }
    }

    .title {
      grid-area: title;
    }

    .value {
      grid-area: value;
    }
  }

  .paddingContainer {
    padding: var(--vertical-spacing-normal) 0;
    border-bottom: 1px solid var(--color-separator);
  }

  .radioButton {
    margin-right: 20px;
  }

  .paymentLogoIcon {
    height: 30px;
    width: auto;
  }
}
