@import "styles/global";
@import "styles/variables.scss";

.collectionToolbar {
  display: flex;
}
.cardCollection {
  display: grid;
  column-gap: $margin-small-4;
  row-gap: $margin-small-4;
  margin-bottom: $margin-huge;
  grid-template-columns: repeat(4, 1fr);
}
