@import "styles/global";
@import "styles/variablesscss.scss";
@import "styles/mixins.scss";

.uploadContainer {
  height: auto;
  min-height: 300px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: var(--card-border-radius-nm);
  border: dashed 1px #c9c5c1;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #615c58;
  font-size: var(--font-size-md);

  @media (max-width: 520px) {
    min-height: 100px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  &.collectionUpload {
    height: 380px !important;
    @media (max-width: 520px) {
      height: 60px !important;
      margin-bottom: $margin-small-4;
    }
  }

  &:hover {
    box-shadow: -1px -1px 3px 0 #ffffff, 2px 2px 4px 0 rgba(47, 47, 47, 0.11),
      inset 0 1px 33px 0 rgba(255, 255, 255, 0.5);
  }

  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 520px) {
      flex-direction: row;
      column-gap: 15px;
    }
  }

  .addIcon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-md);
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
    @media (max-width: 520px) {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: inset 2px 2px 5px 0 #e0dfdd, inset -2px -2px 5px 0 #ffffff;
    }
  }

  //&:hover {
  //  box-shadow: shadow($shadow-size-sm, $shadow-color-normal);
  //}
}
