@import "styles/mixins";

.pageContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "order-summary page-wrapper";
  flex-grow: 1;

  @include mobile-media {
    background-color: #f9f7f5;
  }

  &.singleColumn {
    grid-template-columns: auto;
    grid-template-areas: "page-wrapper";
  }

  .pageWrapper {
    grid-area: page-wrapper;
    box-shadow: -6px 0 12px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;

    @include mobile-media {
      box-shadow: none;
    }
  }

  .orderSummary {
    min-width: 350px;
    grid-area: order-summary;
  }

  @include mobile-media {
    grid-template-columns: auto;
    grid-template-areas:
      "logo"
      "order-summary"
      "bread-crumbs"
      "page-wrapper";

    .orderSummary {
      min-width: unset;
    }
  }
}
