@import "styles/variables.scss";

.pageContent {
  display: flex;
  flex-grow: 1;

  .pageWrapper {
    max-width: 60%;
    flex-grow: 1;
  }
}

@media (max-width: $tablet-s) {
  .pageContent {
    .pageWrapper {
      max-width: unset;
    }
  }
}
