@import "styles/mixins";

.pageContent {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "page-wrapper order-summary"; // Get a 60% / 40% distribution
  flex-grow: 1;

  &.singleColumn {
    grid-template-columns: auto;
    grid-template-areas: "page-wrapper";
  }

  .pageWrapper {
    grid-area: page-wrapper;
  }

  .orderSummary {
    min-width: 350px;
    grid-area: order-summary;
  }

  .breadCrumbs {
    grid-area: bread-crumbs;
    margin: $margin-small-2 $margin-small-3 0;
  }

  @include mobile-media {
    grid-template-columns: auto;
    grid-template-areas:
      "logo"
      "encryption-notice"
      "order-summary"
      "bread-crumbs"
      "page-wrapper";

    .orderSummary {
      min-width: unset;
    }

    .encryptionNotice {
      grid-area: encryption-notice;
    }
  }
}
