@import "styles/variables";
@import "styles/global";

.PersonalInformation {
  --button-height: 50px;

  // Override input here. Reduce the risk of affecting other parts of the app that might've already used the common input.
  input {
    border-radius: 5px !important;
    border: 1px solid $checkout-primary-color;
    font-weight: var(--font-weight-normal);
  }

  .inputLabel {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: $checkout-primary-color;
    margin-top: 10px;
  }

  .section {
    margin-bottom: 30px;

    .sectionTitleLine {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 12px;
    }
  }

  .expressCheckoutOptions {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    .expressCheckoutOption {
      height: var(--button-height);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.1s linear;

      &.paypal {
        background-color: #f6c657;

        &:hover {
          background-color: lighten(#f6c657, 5%);
        }
      }

      .expressCheckoutLogo {
        height: 20px;
      }
    }
  }

  .payWithCard {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: rgba($checkout-primary-color, 0.1);
    margin-top: 50px;
    margin-bottom: 40px;

    .text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 0 18px;
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: rgba($gray-color-user, 0.6);
    }
  }

  .loginHint {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-slight);
    margin-right: var(--horizontal-spacing-half);

    @include mobile-media {
      font-size: var(--font-size-xs);
    }
  }

  .loginLink {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;

    @include mobile-media {
      font-size: var(--font-size-xs);
    }
  }

  .contactInfoSection {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "contact-info logged-in log-out"
      "user-name user-name user-name"
      "user-email user-email user-email";

    .contactInfoTitle {
      grid-area: contact-info;
    }

    .loggedIn {
      grid-area: logged-in;

      .loggedInName {
        font-style: italic;
      }
    }

    .logOut {
      grid-area: log-out;
    }

    .userName {
      color: var(--primary-color);
      margin-top: $margin-small-3;
      grid-area: user-name;

      @include mobile-media {
        font-size: var(--font-size-md);
        margin-top: var(--vertical-spacing-half);
      }
    }

    .userEmail {
      color: var(--primary-color);
      margin-top: $margin-small;
      grid-area: user-email;

      @include mobile-media {
        font-size: var(--font-size-md);
      }
    }
  }

  .createAccountSection {
    display: grid;
    align-content: space-between;
    grid-template-columns: 120px auto;
    grid-template-rows: auto;
    row-gap: var(--vertical-spacing-half);
    column-gap: var(--vertical-spacing-half);
  }

  .shippingAddressSection {
    position: relative;
    margin-bottom: var(--vertical-spacing-normal);

    @include mobile-media {
      margin-bottom: 0;
    }

    .addressLine {
      font-size: var(--font-size-md);
      color: $checkout-primary-color;
      font-weight: var(--font-weight-medium);

      @include mobile-media {
        font-size: var(--font-size-sm);
      }

      & + .addressLine {
        margin-top: $margin-small;

        @include mobile-media {
          margin-top: 0;
        }
      }
    }

    .radioButton {
      margin-right: $margin-small-3;
    }
  }

  .billingOption {
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;

    .checkbox {
      margin-right: 8px;
    }
  }

  .billingAddress {
    margin-bottom: 30px;
  }

  .totalsContainer {
    border-top: 1px solid rgba($gray-color-user, 0.1);
    margin-bottom: var(--vertical-spacing-normal);

    .totalLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid rgba($gray-color-user, 0.1);

      .label,
      .value {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        color: $gray-color-user;
      }
    }

    .grandTotalLine {
      @extend .totalLine;
      height: 60px;
      border-bottom: 0;

      .label,
      .value {
        font-size: var(--font-size-xl);
        color: $checkout-primary-color;
      }
    }
  }

  .payButton {
    @include blackGradientButton;
    width: 100%;
    height: 60px;
    font-size: var(--font-size-lg);
  }

  .loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;

    .loader {
      font-size: 40px;
    }
  }
}
