@import "styles/variablesscss";
@import "styles/mixins";

.EditCreditCardForm {
  height: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto;
  padding: 0 $margin-medium;
  grid-template-areas:
    "title form"
    "delete-card buttons";

  transition: opacity 0.35s $ease-in-out, padding 0.35s $ease-in-out,
    max-height 0.35s $ease-in-out;

  @include mobile-media {
    display: flex;
    flex-direction: column;
  }

  &.visible {
    opacity: 1;
    max-height: 600px;
    padding: $margin-medium;

    @include mobile-media {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  .title {
    grid-area: title;
    color: $primary-color-user;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);

    @include mobile-media {
      font-size: var(--font-size-md);
    }
  }

  .form {
    grid-area: form;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: $margin-small-4;
    row-gap: $margin-medium;
    grid-template-rows: auto;
    grid-template-areas:
      "card-number card-number card-number"
      "card-name card-expiration card-cvv";
    @include mobile-media {
      display: flex;
      flex-direction: column;
      margin-top: $margin-small-4;
      margin-bottom: $margin-medium;
      row-gap: 15px;
    }

    .cardNumber {
      grid-area: card-number;
    }

    .cardName {
      grid-area: card-name;
    }

    .cardExpiration {
      grid-area: card-expiration;
    }

    .cardCvv {
      grid-area: card-cvv;
    }

    .inputHint {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: $primary-color-user;
      margin-bottom: $margin-small;
      @include mobile-media {
        font-size: var(--font-size-sm);
      }
    }
  }

  .buttons {
    grid-area: buttons;
    display: flex;

    margin-top: $margin-medium;
    @include mobile-media {
      display: flex;
      align-items: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 10px;
      margin-top: $margin-small-4;
    }

    .formButtonsEdit {
      width: 100%;
      display: flex;
      @include mobile-media {
        align-items: center;
      }
    }
  }

  .saveChanges {
    @include blackGradientButton;
    @include mobile-media {
      flex-grow: 2;
      margin: 0 0 0 $margin-small-2;
    }
  }

  .cancelButton {
    @include grayGradientButton;
    margin-left: auto;
    margin-right: $margin-small-4;
    @include mobile-media {
      margin: 0;
      flex-grow: 3;
    }
  }

  .deleteButtonContainer {
    grid-area: delete-card;
    position: relative;

    @include mobile-media {
      display: flex;
      margin-top: $margin-medium;
    }
  }
}

.editDefault {
  padding-top: 5px !important;
}
