@import "styles/global";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.exploreContainer {
  margin-top: $margin-huge;

  .exploreButtons {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    padding-top: $margin-small-4;
    @include mobile-media {
      overflow: scroll;
      div {
        min-width: 140px;
        white-space: nowrap;
      }
    }
  }

  .title {
    margin-top: $margin-medium-3;
    font-size: var(--font-size-xl);
  }
}
