@import "styles/variablesscss";
@import "styles/mixins.scss";

.UserShipping {
  padding: 0 100px 162px;
  overflow: hidden;
  @include mobile-media {
    padding: 0;
  }
}

.pageContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  column-gap: $margin-huge-5;
  margin-top: $margin-medium-3;
  @include mobile-media {
    margin-top: 0;
  }
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: $primary-color-user;
}

.addressGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(50% - 20px));
  grid-template-rows: 135px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: $margin-small-3;
  @include mobile-media {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px $margin-small-4;
    border-bottom: 1px solid $color-user-border;
  }

  //&::after {
  //  content: "";
  //  display: grid;
  //  background-color: rgb(214,232,182);
  //  grid-template-columns: repeat(auto-fit, minmax(calc(max(400px, 25%)), 1fr));
  //  grid-template-rows: auto;
  //}
}

.addressCell {
  height: 135px;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 0 #e0dfdd, -1px -2px 5px 0 #fafbff;
  border: solid 1px rgba(17, 17, 17, 0.1);
  background-blend-mode: soft-light;
  background: white;
  padding: $margin-small-4;
}

.addressInfo {
  overflow: hidden;
}

.addressNickName {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  color: $primary-color-user;
}

.addressInfoContainer {
  margin-top: $margin-small-3;
}

.addressInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.addressExtraDetails {
  @include grayText;

  & + .addressExtraDetails {
    margin-left: $margin-small;
  }
}

.makeDefault {
  @include labelButton;
  width: auto;
  margin-left: auto;
  padding: 0;
  @include mobile-media {
    margin-right: 8px;
  }
}

.defaultAddress {
  @include roundGrayLabel;
  margin-left: $margin-small;
}

.editAddressCell {
  @include labelButtonUnderline;
  padding: 0;
  margin-left: auto;
}

.mapContainer {
  @include roundedContainer;
  height: max-content;
  position: relative;
  margin-top: $margin-small-4;
  background: url("/assets/images/map_dummy.jpg") no-repeat center center;
  @include mobile-media {
    background: none;
    border: none;
    margin-top: 0;
  }

  &.inModal {
    //margin: auto $margin-huge-5;
    margin: 0;
  }
}

.map {
  @include roundedContainer;
  border-radius: 8px;
  background: url("/assets/images/map_dummy.jpg") no-repeat center center;
  height: calc(0.575 * 100vw);
  width: 100%;
  background-size: cover;
  margin-bottom: $margin-medium;
}

.addAddressContainer {
  display: inline-block;
  height: max-content;

  border-left: 1px solid $color_user-border;
  padding-left: $margin-huge;

  @include mobile-media {
    width: 100%;
    margin: 0;
    padding: $margin-medium $margin-small-4;
    border: none;
    border-radius: 0;
  }
}

.modalBackground {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.5);

  &.visible {
    display: flex;
    flex-flow: column;
    position: fixed;
  }
}

.closeModal {
  font-size: 20px;
  color: white;
  width: 19px;
  height: 19px;
  align-self: flex-end;
  cursor: pointer;
  @include mobile-media {
    visibility: hidden;
  }
}

.modalContent {
  display: flex;
  flex-flow: column;
  overflow: auto;
  margin: auto $margin-huge-5;
  @include mobile-media {
    margin: 0 $margin-small-4 20px;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: rgba(#fbfbfb, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--vertical-spacing-normal);

  .loader {
    font-size: 40px;
  }
}

.errorCreateAddress {
  margin-top: 20px;
}
