@import "styles/variablesscss";
@import "styles/mixins.scss";

.UserShipping {
  padding: 62px 100px 162px;
  overflow: hidden;
  @include mobile-media {
    padding: 0;
  }
}

.pageContent {
  margin-top: $margin-medium-3;
  @include mobile-media {
    margin-top: 0;
  }
}

.addressGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(max(350px, 25%)), 1fr));
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @include mobile-media {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px $margin-small-4;
    border-bottom: 1px solid $color-user-border;
  }

  //&::after {
  //  content: "";
  //  display: grid;
  //  background-color: rgb(214,232,182);
  //  grid-template-columns: repeat(auto-fit, minmax(calc(max(400px, 25%)), 1fr));
  //  grid-template-rows: auto;
  //}
}

.addressCell {
  height: 200px;
  @include roundedContainer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 40px;
  column-gap: $margin-small-4;
  row-gap: $margin-small-4;
  padding: $margin-small-4;
  @include mobile-media {
    padding: 0;
    padding-top: 10px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid $color-user-border;
    border-radius: 0;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    height: auto;
  }
}

.addressMapCell {
  background: url("/assets/images/map_placeholder.svg") no-repeat center;
  background-size: cover;
}

.addressInfo {
  overflow: hidden;
}

.addressNickName {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  color: $primary-color-user;
}

.addressExtraDetails {
  @include grayText;
  margin-top: $margin-small;

  & + .addressExtraDetails {
    margin-top: 0;
  }
}

.makeDefault {
  @include labelButton;
  width: auto;
  margin-left: auto;
  padding: 0;
  @include mobile-media {
    margin-right: 8px;
  }
}

.defaultAddress {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
  margin-right: auto;
  letter-spacing: 1px;
  color: $brown-color;
  cursor: auto;
  @include mobile-media {
    margin-right: 0;
    margin-left: auto;
  }
}

.editAddressCell {
  @include whiteButton;
}

.mapContainer {
  @include roundedContainer;
  height: max-content;
  position: relative;
  margin-top: $margin-small-4;
  background: url("/assets/images/map_dummy.jpg") no-repeat center center;
  @include mobile-media {
    background: none;
    border: none;
    margin-top: 0;
  }

  &.inModal {
    //margin: auto $margin-huge-5;
    margin: 0;
  }
}

.map {
  @include roundedContainer;
  border-radius: 8px;
  background: url("/assets/images/map_dummy.jpg") no-repeat center center;
  height: calc(0.575 * 100vw);
  width: 100%;
  background-size: cover;
  margin-bottom: $margin-medium;
}

.addAddressContainer {
  @include roundedContainer;
  background: white;
  display: inline-block;
  width: 400px;
  height: max-content;
  margin: $margin-small-4;
  padding: $margin-medium $margin-medium-4;
  @include mobile-media {
    width: 100%;
    margin: 0;
    padding: $margin-medium $margin-small-4;
    border: none;
    border-radius: 0;
  }
}

.modalBackground {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.5);

  &.visible {
    display: flex;
    flex-flow: column;
    position: fixed;
  }
}

.closeModal {
  font-size: 20px;
  color: white;
  width: 19px;
  height: 19px;
  align-self: flex-end;
  cursor: pointer;
  @include mobile-media {
    visibility: hidden;
  }
}

.modalContent {
  display: flex;
  flex-flow: column;
  margin: auto $margin-huge-5;
  @include mobile-media {
    margin: 0 $margin-small-4;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: rgba(#fbfbfb, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--vertical-spacing-normal);

  .loader {
    font-size: 40px;
  }
}
